# Fichiers système et OS
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Fichiers et dossiers IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs et fichiers temporaires
*.log
*.tmp
*.swp
*.bak
*.pid

# Dossiers dépendances communs
node_modules/
bower_components/

# Autres fichiers générés
dist/
build/
tmp/
.cache/
