# Environnement PHP
.env
.env.local
.env.*.local

# Composer
/vendor/
/composer.lock

# Logs et cache
*.log
/cache/
/sessions/
/tmp/

# IDE et éditeurs
.idea/
/.vscode/

# Configs serveur
/.htaccess
/php.ini
/user.ini

# Systèmes d'exploitation
.DS_Store
Thumbs.db
